<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa3sbmqBG4w1oS0d8h-jZyd1Z63kAbf0A</string>
	<key>GCM_SENDER_ID</key>
	<string>988295067455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteTaker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notetaker-c8c17</string>
	<key>STORAGE_BUCKET</key>
	<string>notetaker-c8c17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988295067455:ios:5e6da32cb03519666e858a</string>
</dict>
</plist>